{%extends 'main/base_calc.html'%}
{%block title%}
Trignometry
{%endblock%}

{%block nav_items%}
<li class="nav-item"><a href="{% url 'trignometry' %}" class="nav-link" >Trignometry</a></li>
{%endblock%}

{%block nav_style%}
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
{%endblock%}

{%block style%}

{%endblock%}


{%block content%}
<br>
<br>
<main>
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom" style="color:#00e5ff;">Overview</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
          </div>
          <h3 class="fs-2" style="color:#00e5ff;">Soh Cah TOA</h3>
          <p style="color:#00ffe6;">This calculator finds the solution, after taking in at least 2 pieces of availabe information, to any SOH CAH TOA question.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Calculator
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
          </div>
          <h3 class="fs-2" style="color:#00e5ff;">Sine and Cosine rule</h3>
          <p style="color:#00ffe6;">This will solve any Sine or Cosine rule question, after taking in at least 2 values. Also shows full solution.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Calculator
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
          </div>
          <h3 class="fs-2" style="color:#00e5ff;">Coming soon! </h3>
          <p style="color:#00ffe6;">text</p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
           
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
      </div>
    </div>
</main>
{%endblock%}

